asgiref==3.8.1
crispy-bootstrap5==2024.2
csscompressor==0.9.5
Django==5.0.6
django-appconf==1.0.6
django-crispy-forms==2.2
django-environ==0.11.2
django-libsass==0.9
django_compressor==4.5
libsass==0.23.0
rcssmin==1.1.2
rjsmin==1.2.2
sqlparse==0.5.0
psycopg[binary]==3.2.1
typing_extensions==4.12.2
tzdata==2024.1
gunicorn==22.0.0